*{
    margin: 0;
    padding: 0;
    font-size: 28px;
    box-sizing: border-box;
    background-color: transparent;
}

header{
    /* height: 25vh; */
    min-width:100%;
    max-width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(../imagenes/fondo_header.jpg) ;
  

    /* background: url("./imagenes/fondo_header.jpg") no-repeat center ; */
    
}
.menumobile{
    display:none;
}


  input {
    display: none;
  }
  label {
    box-sizing: border-box;
    display: none;
    border: 1px solid black;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    user-select: none;
  }
  li {
    display: inline;
    background: transparent;
    margin: 0;
    padding: 6px;
    list-style: none;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: .5em;
  }
a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 0.5rem;
}
.logo{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 2px solid; color:yellow;
}
.titulo_pagina{
    text-align: center;
    background-color: transparent;
    color: yellow;
    font-size: 1.5rem;
    
}
.carousel{
 
    --carousel-control-width: 10rem;

}
.carousel-item{
    height: 20rem !important;
    margin-top: 2rem;

}
.imagenc{
  width: auto;
  height: auto;
  max-width: 60rem;
  max-height: 43rem;

}
.foto-y-texto1{
    display: flex;
    margin: 1rem;
    color: red;
    justify-content: flex-start;
    
}
.titulo-imagen-cercana{
    font-family: 'Julius Sans One', sans-serif;
    margin:20px;
    font-size: 1.9rem;
    color: aliceblue;
}
.foto-y-texto1 img{
    width: 26rem;
    height: 14rem;
    border: 9px rgb(8, 83, 223);
    border-style: inset;



}
.paginas li{
    display:flex;
    padding-left:1rem;
    padding-right:1rem;

}
.redes{
    color: aqua;
}
.foto_rellenar{
    justify-content: center;
}
body{
    background-color: black;
}

footer{
    display: flex;
    justify-content: center;
    padding: 4rem;

}