
/* MEDIDA CELULAR */


@media  (max-width: 499px){
    *{
        margin: 0 !important;
    }

  ul{
    display: none;
  }
  
  input:checked  ~ ul{
    display:block;
  }
  input {
    display: none;
  }
  label {
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    user-select: none;
  }
  li {

    display: block;
    background: lightgrey;
    margin: 0;
    padding: 2px;
    list-style: none;
    border-bottom: 1px solid grey;
    background-color: blue !important;
  }
  a{
  
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        font-size: 10px;
    }
  .hamburger{
    text-align: end;
    color: yellow;
  }





header{
    width: 15%;
    background-size: 13rem 9rem;
    padding: 0;
    margin: 0;

}


.logo{
    width: 2rem !important;
    height: 2rem !important;
    border-radius: 50% !important;
    border: 2px solid; color:yellow;
}
.titulo_pagina{
    width: 100% !important;
    text-align: center;
    background-color: transparent;
    color: yellow;
    font-size: 1rem !important;
    margin:0 !important;
    padding:0 !important;
    
}
.menumobile{
  display:block;
}
footer{
    width: 100% !important;
    margin: auto !important;
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
  }
  .redes{
     width: 100% !important;
     max-width: 30rem !important;
     margin: auto !important;
     display: flex !important;
     /* margin: 0 10rem ;  */
     flex-direction: row !important;
  }
  .red{
     margin: auto !important;
     
  }
  .red a{
     font-size: 0.5rem !important;
  }
  






/* ----------------------- */
.carousel{
    display: none;
 
    --carousel-control-width: 10rem;

}




.foto-y-texto1{
    width: 100% !important;
    display: flex !important;
    flex-direction: column !important;
    margin: 0 !important;
    color: red;
    justify-content: flex-start;
    
}
.titulo-imagen-cercana{
    flex-direction: column !important;
    
    font-family: 'Julius Sans One', sans-serif !important;
    margin:0 !important;
    font-size: 1rem !important;
    color: aliceblue !important;
}
.texto-cerca-imagen{
    color:green !important;
    margin:20px !important;

    font-size: 0.6rem !important;
    text-align: center !important;
}
.foto-y-texto1 img{
    flex-direction: column !important;
    margin-top: 0  !important;
    margin-left: 0 !important;
    width: 100% !important;
    height: 7rem !important;
    border: 9px rgb(8, 83, 223) !important;
    border-style: inset !important;



}
.paginas li{
    display:flex;
    padding-left:1rem;
    padding-right:1rem;

}
.redes{
    color: aqua;
}

body{
    background-color: black;
}

}













/* MEDIDA TABLET */

@media  (min-width: 500px) and (max-width: 1024px){

   
    .logo{
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        border: 2px solid; color:yellow;
    }
    .titulo_pagina{
        font-family: 'Oswald', sans-serif;
        text-align: center;
        background-color: transparent;
        color: yellow;
        font-size: 1.5rem;
        
    }
    .carousel{
        display: none;
     
        --carousel-control-width: 10rem;
    
    }
    
    
    
    
    .foto-y-texto1{
        width: 100%;
        display: flex !important;
        flex-direction: column !important;
        margin: 0rem !important;
        color: red;
        justify-content: flex-start;
        
    }
    .titulo-imagen-cercana{
        flex-direction: column;
        
        font-family: 'Julius Sans One', sans-serif;
        margin:0 !important;
        font-size: 1rem !important;
        color: aliceblue;
    }
    .texto-cerca-imagen{
        color:green;
        margin:0 !important;
    
        font-size: 0.6rem;
        text-align: center;
    }
    .foto-y-texto1 img{
        flex-direction: column;
        margin: 0 !important;
        margin-top: 10px !important ;
    
        width: 100%;
        height: 14rem;
        border: 9px rgb(8, 83, 223);
        border-style: inset;
    
    
    
    }
    .paginas li{
        display:flex;
        padding-left:1rem;
        padding-right:1rem;
    
    }
    .redes{
        color: aqua;
    }
    
    body{
        background-color: black;
    }
    
    }
    

