*{
    margin: 0;
    padding: 0;
    font-size: 28px;
    box-sizing: border-box;
    background-color: transparent;
}

header{
    /* height: 25vh; */
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(../imagenes/fondo_header.jpg);
    background-repeat: no-repeat;
    

}
    
ul{
    list-style-type: none;
    display: flex;
    align-items: flex-start;
    background-color: transparent;
    
}
ul li{
    margin: .5em;
}
a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: .5em;
}
.logo{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 2px solid; color:yellow;
}
.titulo_pagina{
    text-align: center;
    background-color: transparent;
    color: yellow;
    font-size: 2rem;
    
}

.paginas li{
    display:flex;
    padding-left:1rem;
    padding-right:1rem;

}
.redes{
    color: aqua;
}
.foto_rellenar{
    justify-content: center;
}
body{
    background-color: black;
}
.contactenos{
    display: flex;
    justify-content: center;
    font-size: 4rem;
    color: aqua;
    padding: 2rem;
}
/* .formulario{
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    color: aquamarine;
   
    
} */


.textito{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    color: red;
}
.contenedor2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;

}
.seleccion{
    color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: auto;
    flex-wrap: wrap;
    flex-flow: column;
}
#nombre{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
  
}
#apellido{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
  
}
#celular{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
  
}
#Pais{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
     
}
#Localidad{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
  
}
#Domicilio{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 50%;
    
}
#CP{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
  
}

textarea {
    display: flex;
    justify-content:end;
    align-items: center;
    margin-bottom: auto;
    margin-left: 1rem;
    margin-right:1rem ;
  
    height:6rem;
    width: 60rem;
 }
footer{
    display: flex;
    justify-content: center;
    padding: 4rem;

}