
/* MEDIDA CELULAR */


@media  (max-width: 499px){
    .menumobile{
        display:block;
        
    }
    .menumobile input{
        display:none;
        
    }
    
    
    ul{
        display: none;
      }
      
      input:checked  ~ ul{
        display:block;
      }
      input {
        display: block;
        color: aquamarine;
      }
      label {
        box-sizing: border-box;
        display: inline-block;
        border: 1px solid black;
        border-radius: 5px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-weight: bold;
        text-align: center;
        user-select: none;
      }
      li {
  
        display: block;
        background: lightgrey;
        margin: 0;
        padding: 2px;
        list-style: none;
        border-bottom: 1px solid grey;
        background-color: blueviolet !important;
      }
      a{
      
            text-decoration: none;
            color: white;
            text-transform: uppercase;
            font-size: 10px;
        }
      .hamburger{
        text-align: end;
        color: yellow;
      }
    
    
    
    
   
    header{
        width: 15%;
        background-size: 13rem 9rem;
        padding: 0;
        margin: 0;
    
    }
   
    
    .logo{
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        border: 2px solid; color:yellow;
    }
    .titulo_pagina{
        width: 100%;
        text-align: center;
        background-color: transparent;
        color: yellow;
        font-size: 1rem;
        margin:0;
        padding:0;
        
    }
    footer{
      width: 100%;
      margin: auto;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
   }
   .redes{
       width: 100%;
       max-width: 30rem;
       margin: auto;
       display: flex;
       flex-direction: row;
   }
   .red{
       margin: auto;
       
   }
   .red a{
       font-size: 0.5rem;
   }
   
   .contactenos{
    display: flex;
    justify-content:center;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    padding: 2rem;

}
.textito{
    font-size: 0.7rem !important;
    display: flex;
    width: 50%;
    margin-right: 0.3rem !important;
    color: rgb(255, 255, 255);
    font-family: 'EB Garamond', serif;
}
.contenedor2{
    display: flex;
    width: 100%;
    max-width: 0.1rem;
    margin: 0.5rem auto;
    font-family: 'EB Garamond', serif;

}
.contenedor2 input{
    width: 50%;

}

textarea {
    color: rgb(0, 171, 177);
    background-color: rgb(0, 0, 0);
  
 }
 .botoncentrado{
    max-width: 3rem !important;
    width: 100%;
    margin: 0.5rem auto;
    font-family: 'EB Garamond', serif;

}
.enviarbotton{
    color: red;
    font-size: 0.8rem !important;
}

   
    
  }
  
  

  
  /* MEDIDA TABLET */

  @media  (min-width: 500px) and (max-width: 1024px){
    
    ul{
        display: block;
      }
      
      input:checked  ~ ul{
        display:block;
      }
      input {
        display: block;
        color: aquamarine;
      }
      label {
        box-sizing: border-box;
        display: inline-block;
        border: 1px solid rgb(255, 244, 244);
        border-radius: 5px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-weight: bold;
        text-align: center;
        user-select: none;
      }
      li {
  
        display: block;
        width: 6rem;
        background: rgb(8, 255, 49);
        margin: auto;
        padding: 2px;
        list-style: none;
        border-bottom: 1px solid grey;
        text-align: center;
        background-color: blueviolet !important;
  
      }
      a{
            text-align: center;
            text-decoration: none;
            color: white;
            text-transform: uppercase;
            font-size: 10px;
        }
      .hamburger{
        text-align: end;
        color: rgb(238, 255, 0);
      }
    
    
    
    
   
    header{
        width: 100%;
        background-size: 13rem 9rem;
        padding: 0;
        margin: 0;
        background-size: 100% ;
    
    }
   
    
    .logo{
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        border: 2px solid; color:yellow;
    }
    .titulo_pagina{
        width: 100%;
        text-align: center;
        background-color: transparent;
        color: yellow;
        font-size: 2rem;
        margin:0;
        padding:0;
        
    }
    footer{
      width: 100%;
      margin: auto;
      margin-top: 1rem;
      margin-bottom: 1rem;
   }
   .redes{
       width: 100%;
       max-width: 30rem;
       margin: auto;
       display: flex;
       flex-direction: row;
   }
   .red{
       margin: auto;
       
   }
   .red a{
       font-size: 1rem;
   }
   
     
   .contactenos{
    display: flex;
    justify-content:center;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    padding: 2rem;
    animation-duration: 1s;
    animation-name: slidein;
    }
    
    
    @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%
    }
    
    to {
      margin-left: 0%;
      width: 100%;
    }
    }

}
.textito{
    border: none;
    font-size: 1.2rem;
    display: flex;
    width: 50%;
    margin-bottom: 1rem;
    margin-right: 1rem;
    color: rgb(255, 255, 255);
    font-family: 'EB Garamond', serif;
}
.contenedor2{
    display: flex;
    width: 100%;
    max-width: 24rem;
    margin: 0.5rem auto;
    font-family: 'EB Garamond', serif;
}
.contenedor2 input{
    width: 50%;

}

textarea {
    color: rgb(0, 171, 177);
    background-color: rgb(0, 0, 0);
  
 }
 .botoncentrado{
    max-width: 6rem;
    width: 100%;
    margin: 0.5rem auto;
    font-family: 'EB Garamond', serif;

}
.enviarbotton{
    color: rgb(255, 255, 255);
    font-size: 1rem;
}

   
    
  
  
  
    


  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  @media  (min-width: 500px) and (max-width: 1024px){
      
    ul{
        display: block;
      }
      
      input:checked  ~ ul{
        display:block;
      }
      input {
        display: block;
      }
      label {
        box-sizing: border-box;
        display: inline-block;
        border: 1px solid rgb(255, 244, 244);
        border-radius: 5px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-weight: bold;
        text-align: center;
        user-select: none;
      }
      li {
  
        display: block;
        width: 6rem;
        background: rgb(8, 255, 49);
        margin: auto;
        padding: 2px;
        list-style: none;
        border-bottom: 1px solid grey;
        text-align: center;
  
      }
      a{
            text-align: center;
            text-decoration: none;
            color: white;
            text-transform: uppercase;
            font-size: 10px;
        }
      .hamburger{
        text-align: end;
        color: rgb(238, 255, 0);
      }
    
    
    
    
   
    header{
        width: 100%;
        background-size: 13rem 9rem;
        padding: 0;
        margin: 0;
        background-size: 100% ;
    
    }
   
    
    .logo{
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        border: 2px solid; color:yellow;
    }
    .titulo_pagina{
        width: 100%;
        text-align: center;
        background-color: transparent;
        color: yellow;
        font-size: 2rem;
        margin:0;
        padding:0;
        
        
    }
    .contactenos{
      
      animation-duration: 1s;
  animation-name: slidein;
  }
  
  
  @keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%
  }
  
  to {
    margin-left: 0%;
    width: 100%;
  }
  }
    footer{
      width: 100%;
      margin: auto;
      margin-top: 1rem;
      margin-bottom: 1rem;
   }
   .redes{
       width: 100%;
       max-width: 30rem;
       margin: auto;
       display: flex;
       /* margin: 0 10rem ;  */
       flex-direction: row;
   }
   .red{
       margin: auto;
       
   }
   .red a{
       font-size: 1rem;
   }
   
  
    
  }
  