@media (min-width:425px) and (max-width: 768px){
    .container{
        grid-template-areas: "tres tres tres""uno uno uno""dos dos dos";
    }
    a{
        color:red;
        font-size: .1em;
    }
}

@media  (max-width: 26.5em){
    a{
        color:blue;
        font-size: .3em
    }
    header{
        width: 100%;
    }
    ul{
        list-style-type: none;
        display: flex;
        align-items: flex-start;
        background-color: transparent;
        
    }
    ul li{
        margin: 0;
        
    }
    a{
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        font-size: 5px;
        border: 1px solid red;
    }
    .logo{
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        border: 2px solid; color:yellow;
    }
    .titulo_pagina{
        text-align: center;
        background-color: transparent;
        color: yellow;
        font-size: 0.1rem;
        
    }
}