@media  (max-width: 500px){
    
    


    .menumobile{
        display: block;
    }
    header{
        background-size: 100% !important;
    }





   
    header{
        width: 15%;
        background-size: 13rem 9rem;
        padding: 0;
        margin: 0;
    
    }
   
    
    .logo{
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        border: 2px solid; color:yellow;
    }
    .titulo_pagina{
        width: 100%;
        text-align: center;
        background-color: transparent;
        color: yellow;
        font-size: 1rem;
        margin:0;
        padding:0;
        
    }
    .youtube{
        width: 100%;
        margin: auto;
    }
    .videoYoutube{
        max-width: 3rem !important;
        max-height:3rem;
        padding: 0px;
        margin-top: 1rem !important;
        margin-left: auto !important;
        margin-right: auto;
        margin-bottom: 3rem;
        
    
    }
    .videoYoutube iframe{
        width: 20rem;
        height: 5rem;
    }
    .cuadrado{
        border: 7rem  grey;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    .texto_sobrenosotros{
        font-family: 'Cormorant SC', serif;
    
        display: flex;
        justify-content: center;
        align-items: center;
    color: rgb(255, 253, 139);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 0.8rem;
    background-color: rgb(117, 204, 171);
    
    }
    .titulo{
        font-family: 'Julius Sans One', sans-serif;
    
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(255, 208, 0);
        text-align: center;
        font-size: 1rem;
        border: 0.2rem solid green;
        background-color: green;
    }


    footer{
      width: 100%;
      margin: auto;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
   }
   .redes{
       width: 100%;
       max-width: 30rem;
       margin: auto;
       display: flex;
       /* margin: 0 10rem ;  */
       flex-direction: row;
   }
   .red{
       margin: auto;
       
   }
   .red a{
       font-size: 0.5rem;
   }
   
  
    
  }
  
  
  
  
  