

@media  (max-width: 26.5em){
    
    ul{
        display: none;
      }
      
      input:checked  ~ ul{
        display:block;
      }
      input {
        display: none;
      }
      label {
        box-sizing: border-box;
        display: inline-block;
        border: 1px solid black;
        border-radius: 5px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-weight: bold;
        text-align: center;
        user-select: none;
      }
      li {
  
        display: block;
        background: lightgrey;
        margin: 0;
        padding: 2px;
        list-style: none;
        border-bottom: 1px solid grey;
      }
      a{
      
            text-decoration: none;
            color: white;
            text-transform: uppercase;
            font-size: 10px;
        }
      .hamburger{
        text-align: end;
        color: yellow;
      }
    
    
    
    
   
    header{
        width: 15%;
        background-size: 13rem 9rem;
        padding: 0;
        margin: 0;
    
    }
   
    
    .logo{
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        border: 2px solid; color:yellow;
    }
    .titulo_pagina{
        width: 20%;
        text-align: center;
        background-color: transparent;
        color: yellow;
        font-size: 0.5rem;
        margin:0;
        padding:0;
        
    }
    footer{
      width: 100%;
      margin: auto;
   }
   .redes{
       width: 100%;
       max-width: 30rem;
       margin: auto;
       display: flex;
       /* margin: 0 10rem ;  */
       flex-direction: row;
   }
   .red{
       margin: auto;
       
   }
   .red a{
       font-size: 1rem;
   }
   
   .mensajefinal{
       color: aqua;
   }
    
  }