*{
    margin: 0;
    padding: 0;
    font-size: 28px;
    box-sizing: border-box;
    background-color: transparent;
}

header{
    /* height: 25vh; */
    min-width:100%;
    max-width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(../imagenes/fondo_header.jpg) ;
  

    /* background: url("./imagenes/fondo_header.jpg") no-repeat center ; */
    
}
.menumobile{
    display:none;
}


  input {
    display: none;
  }
  label {
    box-sizing: border-box;
    display: none;
    border: 1px solid black;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    user-select: none;
  }
  li {
    display: inline;
    background: transparent;
    margin: 0;
    padding: 6px;
    list-style: none;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: .5em;
  }
a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 0.8rem;
}
.logo{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 2px solid; color:yellow;
}
.titulo_pagina{
    text-align: center;
    background-color: transparent;
    color: yellow;
    font-size: 2rem;
    
}
.container{
    color: red;
    display: grid;
    grid-template-columns:10rem repeat(2,1fr);
    grid-template-rows: repeat(50,15rem);
   
    

    border: 1px solid black;
    grid-gap: 0.8rem;

}
.stick{
    position: fixed;
}
.griditem{
    border:2px solid red;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start:1 ;
    grid-row-end:50 ;
  
    
}
.fotoproducto{
    border: 1px solid red;
}
.texto{
    border:1px solid blue
}

body{
    background-color: black;
}
footer{
    display: flex;
    justify-content: center;
    padding: 4rem;

}

.paginas li{
    display:flex;
    padding-left:1rem;
    padding-right:1rem;

}
.redes{
    color: aqua;
}