
/* MEDIDA CELULAR */

@media  (max-width: 500px){
    .menumobile{
        display:block;
    }
    
    
      input {
        display: block;
      }
      label {
        box-sizing: border-box;
        display: none;
        border: none !important;
        border-radius: 5px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-weight: bold;
        text-align: center;
        user-select: none;
      }
      li {
        display: inline;
        background: transparent;
        margin: 0;
        padding: 6px;
        list-style: none;
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        font-size: .5em;
        background-color: blueviolet !important;
      }
    a{
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        font-size: 0.6rem;
    }
    .logo{
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        border: 2px solid; color:yellow;
    }
    .titulo_pagina{
        font-family: 'Oswald', sans-serif;
        text-align: center;
        background-color: transparent;
        color: yellow;
        font-size: 1.5rem;
        
    }
    .container{
        
        color: rgb(161, 56, 73);
        font-family: 'Padauk', sans-serif;
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 3rem;

       
        
    
        border: 1px solid black;
        grid-gap: 0.8rem;
    
    }
    .stick{
        display:none;
        position: fixed;
        width: 10rem;
        height: 200rem;
        text-align: center;
        height: 30rem;
        background-color: rgb(56, 161, 87);
        
    }
    .stick a{
        font-family: 'Bebas Neue', cursive;
        width: 100%;
        max-width: 30rem;
        margin: auto;
        margin-top:2rem;
        margin-bottom: 2rem;
        color: aqua;
        font-size: 1rem;
    }
    
    .stick img{
        height: 100%;
        max-height: 8rem;
        width: 80%;
        border-radius: 50%;
        border: 2px solid;
        color: yellow;
    }
    
    
    .griditem{
        width: 100%;
        max-height: 6rem;
        margin-top: 0 !important;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start:1 ;
        grid-row-end:1 ;
        background-color: rgb(2,0,36);
        background: linear-gradient(90deg, rgb(181, 177, 255) 0%, rgb(93, 93, 165) 35%, rgba(0,212,255,1) 100%);
        color: rgb(51, 255, 0);
        font-size: 0.65rem;
        text-align: center;
        border: none !important;
        
        
      
        
    }
    .griditem a{
        height: 20%;
        color: rgb(51, 255, 0);
        font-size: 0.1rem;
    }
  
    
    
    .fotoproducto{
        width: 100%;
        border: 1px solid rgb(255, 238, 0);
    }
    .fotoproducto img{
        width: 100%;
        height: 100%;
       
    }
    .texto{
        font-size: 0.9rem;
        color: yellow;
        text-align: center;
    
    }
    
    body{
        background-color: black;
    }
    footer{
        width: 100%;
        margin: auto;
        border-top: none !important;
     }
     .redes{
         width: 100%;
         max-width: 30rem;
         margin: auto;
         margin-top:2rem;
         margin-bottom: 2rem;
         display: flex;
         /* margin: 0 10rem ;  */
         flex-direction: row;
     }
     .red{
         margin: auto;
         
     }
     .red a{
         font-size: 1rem;
     }
     
     






}

/* MEDIDA TABLET  */
@media  (min-width: 500px) and (max-width: 1024px){

    
    .logo{
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        border: 2px solid; color:yellow;
    }
    .titulo_pagina{
        font-family: 'Oswald', sans-serif;
        text-align: center;
        background-color: transparent;
        color: yellow;
        font-size: 1.5rem;
        
    }
    .container{
        
        color: rgb(161, 56, 73);
        font-family: 'Padauk', sans-serif;
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 3rem;

       
        
    
        border: 1px solid black;
        grid-gap: 0.8rem;
    
    }
    .stick{
        display:none;
        position: fixed;
        width: 10rem;
        height: 200rem;
        text-align: center;
        height: 30rem;
        background-color: rgb(56, 161, 87);
        
    }
    .stick a{
        font-family: 'Bebas Neue', cursive;
        width: 100%;
        max-width: 30rem;
        margin: auto;
        margin-top:2rem;
        margin-bottom: 2rem;
        color: aqua;
        font-size: 1rem;
    }
    
    .stick img{
        height: 100%;
        max-height: 8rem;
        width: 80%;
        border-radius: 50%;
        border: 2px solid;
        color: yellow;
    }
    
    
    .griditem{
        width: 100%;
        max-height: 6rem;
        margin-top: 0.3rem;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start:1 ;
        grid-row-end:1 ;
        background-color: rgb(2,0,36);
        background: linear-gradient(90deg, rgb(181, 177, 255) 0%, rgb(93, 93, 165) 35%, rgba(0,212,255,1) 100%);
        color: rgb(51, 255, 0);
        font-size: 1rem;
        margin: auto;
        text-align: center;
        
      
        
    }
    .griditem a{
        height: 20%;
        color: rgb(51, 255, 0);
        font-size: 0.1rem;
    }
  
    
    
    .fotoproducto{
        width: 100%;
        border: 1px solid rgb(255, 251, 0);
    }
    .fotoproducto img{
        height: 100%;
       
    }
    .texto{
        font-size: 1.2rem;
        color: yellow;
        text-align: center;
    
    }
    
    body{
        background-color: black;
    }
    footer{
        width: 100%;
        margin: auto;
        border-top: none !important;

     }
     .redes{
         width: 100%;
         max-width: 30rem;
         margin: auto;
         margin-top:2rem;
         margin-bottom: 2rem;
         display: flex;
         /* margin: 0 10rem ;  */
         flex-direction: row;
     }
     .red{
         margin: auto;
         
     }
     .red a{
         font-size: 1rem;
     }
     
     






}