@media  (max-width: 26.5em){

    .texto-inicio{
        color: white;
        text-align: center;
        margin-top: 0.2rem;
        margin-bottom: 2rem;
    }
    .fotos-iniciales{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 0.2rem;
        /* border: 0.2rem solid blue ; */
    
    }
    .fotos-iniciales img{
        width: 33%;
        height: 4rem;
        border-radius: 2rem;
        border: 1px solid aqua;
        /* border: 0.2rem solid yellow; */
    }
    
    .foto-y-texto1{
        display: flex;
        margin: 1rem;
        color: red;
        justify-content: flex-start;
    }
    .foto-y-texto1 img{
        width: 26rem;
        height: 14rem;
        border: 9px green;
        border-style: inset;
    
    
    
    }
    .texto-cerca-imagen{
        margin: 1rem;
        justify-content: flex-start;
    }
    .parte-final-index{
        color: brown;
        display: flex;
        justify-content: center;
    }
    .parte-final-index h1{
        color: brown;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .mapa{
        width: 13rem;
        height: 8rem;
    }
    .paginas li{
        display:flex;
        padding-left:1rem;
        padding-right:1rem;
    
    }
    .redes{
        margin: 0;
        color: aqua;
    }
    .foto_rellenar{
        justify-content: center;
    }
    body{
        display: flex;
        flex-direction: column;
       background-color: black;
        
    
    }
    footer{
        display: grid;
        grid-template-rows:6rem 0rem ;
        justify-content: center;
        padding: 4rem;
        margin-left: 2rem;
        
    
    }
    .faceinsta{
        font-size: 2rem;
    }
    .fa fa-instagram{
        color: white !important;
    }
    .mensajefinal{
        justify-content: space-around;
        align-items: center;
        color: aqua;
        font-size: 2rem;
        margin-left: 0.5rem;
    }



}