@media  (max-width: 26.5em){






    .menumobile{
        display: block;
    }








    .texto-inicio{
        color: white;
        text-align: center;
        margin-top: 0.2rem;
        margin-bottom: 0.2rem;
    }
    .fotos-iniciales{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 0.2rem;
        /* border: 0.2rem solid blue ; */
    
    }
    .fotos-iniciales img{
        width: 33%;
        height: 4rem;
        border-radius: 2rem;
        border: 1px solid aqua;
        /* border: 0.2rem solid yellow; */
    }
    
    .foto-y-texto1{
        display: flex;
        margin: 0;
        color: red;
        justify-content: flex-start;
    }
    .foto-y-texto1 img{
        width: 5rem;
        height: 3rem;
        border: 9px green;
        border-style: inset;
    
    
    
    }
    .texto-cerca-imagen{
            margin: 0 !important;
            font-size: 0.5rem;
        justify-content: flex-start;
        flex-direction: row;

    }
    .parte-final-index{
        flex-direction: column;
        color: brown;
        display: flex;
        justify-content: center;
    }
    .parte-final-index h1{
        flex-direction: column;
        color: brown;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .mapa{
        flex-direction: row;

        width: 10rem;
        height: 6rem;
        margin-left:1rem ;
    }
    .paginas li{
        display:flex;
        flex-direction: row;
        padding-left:1rem;
        padding-right:1rem;
    
    }
}