*{
    margin: 0;
    padding: 0;
    font-size: 28px;
    box-sizing: border-box;
    background-color: transparent;
}

header{
    /* height: 25vh; */
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(../imagenes/fondo_header.jpg);
    background-repeat: no-repeat;
    

}
    
ul{
    list-style-type: none;
    display: flex;
    align-items: flex-start;
    background-color: transparent;
    
}
ul li{
    margin: .5em;
}
a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: .5em;
}
.logo{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 2px solid; color:yellow;
}
.titulo_pagina{
    text-align: center;
    background-color: transparent;
    color: yellow;
    font-size: 2rem;
    
}
.paginas li{
    display:flex;
    padding-left:1rem;
    padding-right:1rem;

}
.redes{
    color: aqua;
}
.foto_rellenar{
    justify-content: center;
}
body{
    background-color: black;
}

.videoYoutube{
    display: flex; 
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items:flex-start;
    padding: 0px;
    margin-top: 150px;
	

}


footer{
    display: flex;
    justify-content: center;
    padding: 4rem;

}