*{
    margin: 0;
    padding: 0;
    font-size: 28px;
    box-sizing: border-box;
    background-color: transparent;
}

header{
    /* height: 25vh; */
    min-width:100%;
    max-width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(../imagenes/fondo_header.jpg) ;
    background-size: 100% !important;
  

    /* background: url("./imagenes/fondo_header.jpg") no-repeat center ; */
    
}
.menumobile{
    display:none;
}


  input {
    display: block;
    color: aquamarine;
  }
  label {
    box-sizing: border-box;
    display: none;
    border: 1px solid black;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    user-select: none;
  }
  li {

    display: inline;
    background: transparent;
    margin: 0;
    padding: 6px;
    list-style: none;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: .5em;
  }
  li :hover{
    background-color: yellow;

  }
a{  
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 0.6rem;
    
}

.logo{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 2px solid; color:yellow;
}
.titulo_pagina{
    font-family: 'Oswald', sans-serif;

    text-align: center;
    background-color: transparent;
    color: yellow;
    font-size: 2.3rem;
    
}
.paginas li{
    display:flex;
    padding-left:1rem;
    padding-right:1rem;

}
.redes{
    color: aqua;
}
.foto_rellenar{
    justify-content: center;
}
body{
    background-color: black;
}
.contactenos{
    display: flex;
    justify-content: center;
    font-size: 4rem;
    color: aqua;
    padding: 2rem;
    animation-duration: 1s;
animation-name: slidein;
}


@keyframes slidein {
from {
  margin-left: 100%;
  width: 300%
}

to {
  margin-left: 0%;
  width: 100%;
}
}

.textito{
    display: flex;
    width: 100%;
    margin: 0;
    color: #fcfcfc;
    font-family: 'EB Garamond', serif;
}
.contenedor2{
    display: flex;
    width: 100%;
    max-width: 30rem;
    margin: 0.5rem auto;
    font-family: 'EB Garamond', serif;

}
.botoncentrado{
    max-width: 9rem;
    width: 100%;
    margin: 0.5rem auto;
    font-family: 'EB Garamond', serif;

}
.enviarbotton{
    color: rgb(255, 255, 255);
    font-size: 3rem;
}

.seleccion{
    color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: auto;
    flex-wrap: wrap;
    flex-flow: column;
}


textarea {
    color: aquamarine;
  
 }
 footer{
    width: 100%;
    margin: auto;
 }
 .redes{
     width: 100%;
     max-width: 30rem;
     margin: auto;
     margin-top:2rem;
     margin-bottom: 2rem;
     display: flex;
     /* margin: 0 10rem ;  */
     flex-direction: row;
 }
 .red{
     margin: auto;
     
 }
 .red a{
     font-size: 1rem;
 }
 .mapa{
     width: 100%;
     margin: auto;
 }
 .mapa iframe{
     width: 100%;
     height: 12rem;
 }
 